/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  padding-top: 4.5rem; /* Para ajustar el contenido bajo la barra de navegación */
  margin: 0;
}

/* Video de fondo */
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos generales para formularios */
.form-control {
  font-size: 1rem;
}

/* Estilos específicos para el botón de inscripción */
.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
